@charset "UTF-8";

.no-select {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.icon-btn {
    border: none;
    cursor: pointer;
    padding: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5em;
    height: 5em;
    background-color: var(--primary-light);
    border-radius: 50%;
    margin: 0.5em;
}

.timer-table {
    margin: auto;
    border-collapse: collapse;
}

.timer-row {
    text-align: center;
}

.timer-display {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    border: 2px solid var(--neutral);
    background-color: var(--neutral-light);
    flex-direction: column; /* Stack minutes and seconds vertically */
}

.time-component {
    display: flex;
    align-items: center;
}

.time-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 1em;
}

.arrow {
    color: var(--primary);
    cursor: pointer;
    font-size: 1.5em;
    background: none;
    border: none;
    padding: 0.5em;
}

.input {
    border: none;
    font-size: 2em;
    width: 60px; /* Increased width for inputs */
    text-align: center;
    background-color: transparent;
    color: var(--neutral-dark);
}

.input:focus {
    outline: none;
    border-bottom: 2px solid var(--primary);
}

.text-danger {
    color: var(--danger);
}

.colon {
    font-size: 2em;
    line-height: 2.2em;
    color: var(--neutral-dark);
    padding: 0 1em;
}

.timer-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 1em;
}